body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f8f9fa;
  color: #333;
}

header {
  background-color: #004885;
  padding: 20px;
  color: white;
  text-align: center;
}

nav a, nav button {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

section {
  margin-top: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}
